<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ProvedorEstoque"
      connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EstoqueEntityModel.ProvedorEstoque;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="EstoqueProduto.ServicoEstoque">
        <clear />
        <endpoint address="http://localhost:8000/ServicoEstoque/Service.svc"
          binding="basicHttpBinding" name=" BasicHttpBinding_IServicoEstoque"
          contract="EstoqueProduto.IServicoEstoque" listenUriMode="Explicit" />
        <endpoint address="http://localhost:8010/ServicoEstoque/Service.svc"
          binding="ws2007HttpBinding" bindingConfiguration="" name="WS2007HttpBinding_IServicoEstoque"
          contract="EstoqueProduto.IServicoEstoqueV2" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar a divulgação de informações de metadados, defina os valores abaixo para falso antes da implantação -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para receber detalhes de exceção em falhas para fins de depuração, defina o valor abaixo para verdadeiro. Defina para falto antes da implantação para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>